<html>
<head>
<style>
.container {
        max-width: 800px; 
        margin: auto; 
        font-family: verdana;
      }
      body{
        background-image: url("https://arjhontan.github.io/Tan_WebDev_Midterm/img/calendar.jpg");
      }

      .month {
        text-allign: center;
        background-color: #87303c;
        letter-spacing: 5px; 
        padding: 1px; 
      }
      table, th, td {
        width: 100%; 
        table-layout:fixed; 
        text-allign: center; 
        font-size: 17px; 
        border-collapse: collapse; 
        color:white;
      }
      tr, td {
        padding: 10px;
      }
      /background calendar color/
      td {
        background: #0f1923;
      }
h1{
  text-align: center;
   background-color: #2C3E50;
        color: white; 
        padding: 4px; 
}
td:hover {
    background-color: grey;
    opacity: 1;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.3);
}
</style>
</head>
<body>
<html>
